body {
  background-color: #f1f6f9;
  text-align: center;
  font-family: 'Pridi', serif;
  margin: 0;
  padding: 0 0;
}


h2 {
  font-size: 4.5rem;
}
p {
  font-size: 1.7rem;
}
/* section 1 */

.dark-mode-icon {
  height: 22px;
}

.top-container{
  text-align: center;
  margin-top: 150px;
}
.profilePhoto {
  height: 200px;
  margin: 50px 0 25px;
  opacity: 90%;
}
.top-button{
margin-bottom: 390px;
}

/* section 2 */


.middle-container {
  text-align: left;
  padding: 16% 10%;
  background-color: #394867;


  color: #f1f6f9;
}


/* section 3 */

.bottom-container {
  padding: 6%;
  text-align: center;
}

.card-body {
  background-color: "black";
}

/* footer */
.footer {
  background-color: #394867;
  color: #fff;
  padding: 5px;
}

.footer-hr {
  border-color: #fff;
  width: 7%;
  height: 4px;
  border-radius: 100%;
  border-width: 1px;
}
.footer-logo {
  margin: 0 1%;
}

.form {
  padding: 0 37%;
}
.footer-tm {
  font-size: 1rem;
  margin-top: 5px;
}

@media (max-width: 576px) {


}
